
<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1 text-dark">RESIDENCIA DEMO</h1>
            <a class="btn btn-primary btn-lg" href="/login">
                EMPEZEMOS
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>