

<section class="h-100">
    <div class="container 100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex flex-column">
                <div class="card " style="width: 18rem;" >
                    <div class="card-body">
                        <form method="POST" action="/auth/login">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre de usuario</label>
                                <input name="Nombre_Usuario" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de usuario">
                            </div>
                            <div class="form-group">
                                <label for="">Nombre</label>
                                <input type="text" name="Nombre">
                            </div>
                            <div class="form-group">
                                <label for="">Apellido</label>
                                <input type="text" name="Apellido">
                            </div>
                            <div class="form-group">
                                <label for="">Tipo</label>
                                <select name="Tipo" id="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="2">3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Contraseña</label>
                                <input type="password" name="Pass">
                            </div>
                            <div class="form-group">
                                <label for="">Estado</label>
                                <select name="Estado" id="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="2">3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Telefono</label>
                                <input type="text" name="Telefono">
                            </div>  
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>